/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Import Files */
@import url("components/cards.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner {
  background-size: cover;
  background-position: center;
  width: auto;
  padding: 200px 0;
}

.container {
  width: 900px;
  margin: auto;
}

.container h1 {
  font-family: Poppins;
  color: white;
  font-size: 30px;
}

.container p {
  font-family: Poppins;
  color: white;
  margin-top: -10px;
  font-size: 20px;
}

.container a {
  display: inline-block;
  font-family: Poppins;
  color: white;
  background-color: #1EDD88;
  border-radius: 50px;
  padding: 16px 36px;
}

.text-center h2 {
  color: black;
  text-align: center;
  padding-bottom: 15px;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  border: 1 px solid;
  border-color: #f0f0f0;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px rgb(230,230,230);
}

.card img {
  height: 100px;
}

.card h2 {
  color: black;
  font-size: 20px;
}

.card p {
  color: #7E7E7E;
  font-size: 15px;
}


.footer {
  margin-top: 20px;
  background-color: #2C2B2B;
  text-align: center;
  height: 150px;
}

.icon a {
  font-size: 30px;
  color: #1EDD88;
}

.footer p {
  margin-top: 50px;
  color: white;
}

.fa-fw {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
